@{
    ViewBag.Title = "SignUpTable";
    Layout = "~/Views/AdminDashLayout.cshtml";
    <link href="~/Content/TabularSheet.css" rel="stylesheet" />
}

<body style="background-color: rgba(81, 92, 82, 1)">
    <!-- ./container -->
    <div class="container" style=" background-color: #333; margin-left:10%; border-radius: 5%;
 width: 80%; height: 600px; margin-top: 5%; margin-bottom: 6%">
        <h1 style=" color: white;">Sign Up Table </h1>
       
        <div style="position: absolute; height: 83%; width:74%; overflow: auto; ">
            <div style="height: 40%;">
                <table class="blue" style="margin-left:5%; width:160%">
                    <thead>
                        <tr style="height:45px">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Password</th>
                            <th> Confirm Password</th>
                            <th>Email</th>
                            <th>Home Address</th>
                            <th>Gender</th>
                            <th>Phone No</th>
                            <th>City</th>
                            <th>Date Of Birth</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                   @foreach (var x in Model)
                        {
                        <tr>

                            <td>@x.FirstName</td>
                            <td>@x.LastName</td>
                            <td>@x.Password</td>
                            <td>@x.CPassword</td>
                            <td>@x.Email</td>
                            <td>@x.Address</td>
                            <td>@x.Gender</td>
                            <td>@x.PhoneNo</td>
                            <td>@x.City</td>
                            <td>@x.DOBirth</td>
                            <td>
                                <div class="dropdown">
                                    <div class="btn btn-primary dropdown-toggle" data-toggle>
                                        <ul class="dropdown-menu">
                                            <li>Edit</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>

                        </tr>
                   }
                        </tbody>
                </table>




            </div>


            <script>
                ; (function ($) {
                    $.fn.fixMe = function () {
                        return this.each(function () {
                            var $this = $(this),
                               $t_fixed;
                            function init() {
                                $this.wrap('<div class="container" />');
                                $t_fixed = $this.clone();
                                $t_fixed.find("tbody").remove().end().addClass("fixed").insertBefore($this);
                                resizeFixed();
                            }
                            function resizeFixed() {
                                $t_fixed.find("th").each(function (index) {
                                    $(this).css("width", $this.find("th").eq(index).outerWidth() + "px");
                                });
                            }
                            function scrollFixed() {
                                var offset = $(this).scrollTop(),
                                tableOffsetTop = $this.offset().top,
                                tableOffsetBottom = tableOffsetTop + $this.height() - $this.find("thead").height();
                                if (offset < tableOffsetTop || offset > tableOffsetBottom)
                                    $t_fixed.hide();
                                else if (offset >= tableOffsetTop && offset <= tableOffsetBottom && $t_fixed.is(":hidden"))
                                    $t_fixed.show();
                            }
                            $(window).resize(resizeFixed);
                            $(window).scroll(scrollFixed);
                            init();
                        });
                    };
                })(jQuery);

                $(document).ready(function () {
                    $("table").fixMe();
                    $(".up").click(function () {
                        $('html, body').animate({
                            scrollTop: 0
                        }, 2000);
                    });
                });
            </script>



        </div>

    </div>


</body>
